## 0. Load imports

In [13]:
## imports
import pandas as pd
import numpy as np


## print multiple things from same cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 0. Load data

In [16]:
## load data on 2020 crimes in DC
df = dc_crim_2020 = pd.read_csv("https://opendata.arcgis.com/datasets/f516e0dd7b614b088ad781b0c4002331_2.csv")
dc_crim_2020.head()
dc_crim_2020.shape
dc_crim_2020.info()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,-77.044182,38.905654,11139598,2020/08/24 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,1900 - 1999 BLOCK OF M STREET NW,396168.0,137533.0,...,010700 1,10700.0,Precinct 17,38.905646,-77.044180,GOLDEN TRIANGLE,2011/09/23 06:40:00+00,NaN,594430168,NaN
1,-77.023981,38.900345,5370,2020/01/17 02:39:05+00,EVENING,OTHERS,THEFT F/AUTO,800 - 899 BLOCK OF 9TH STREET NW,397920.0,136943.0,...,005802 5,5802.0,Precinct 129,38.900337,-77.023979,DOWNTOWN,2020/01/11 02:48:51+00,2020/01/17 02:48:54+00,594430173,NaN
2,-76.972651,38.857491,10251445,2020/09/11 04:00:00+00,MIDNIGHT,GUN,HOMICIDE,2300 - 2399 BLOCK OF AINGER PLACE SE,402374.0,132186.0,...,007502 1,7502.0,Precinct 134,38.857483,-76.972648,NaN,2010/09/02 04:00:00+00,2010/09/02 04:00:00+00,594430178,NaN
3,-76.972226,38.854086,10147537,2020/12/21 05:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,2300 - 2499 BLOCK OF HARTFORD STREET SE,402411.0,131808.0,...,007408 2,7408.0,Precinct 115,38.854078,-76.972223,NaN,2010/10/10 02:00:00+00,NaN,594431372,NaN
4,-77.001753,38.821632,18048023,2020/10/21 04:00:00+00,MIDNIGHT,OTHERS,HOMICIDE,4600 - 4799 BLOCK OF SOUTH CAPITOL STREET,399848.0,128205.0,...,009811 1,9811.0,Precinct 125,38.821624,-77.001750,NaN,2018/03/26 08:40:06+00,2018/03/26 10:04:44+00,594431711,NaN

(27931, 25)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27931 entries, 0 to 27930
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   X                     27931 non-null  float64
 1   Y                     27931 non-null  float64
 2   CCN                   27931 non-null  int64
 3   REPORT_DAT            27931 non-null  object
 4   SHIFT                 27931 non-null  object
 5   METHOD                27931 non-null  object
 6   OFFENSE               27931 non-null  object
 7   BLOCK                 27931 non-null  object
 8   XBLOCK                27931 non-null  float64
 9   YBLOCK                27931 non-null  float64
 10  WARD                  27931 non-null  int64
 11  ANC                   27931 non-null  object
 12  DISTRICT              27902 non-null  float64
 13  PSA                   27896 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  27931 non-null  object
 15  BLOCK_GROUP           27930 non-null  object
 16  CENSUS_TRACT          27930 non-null  float64
 17  VOTING_PRECINCT       27931 non-null  object
 18  LATITUDE              27931 non-null  float64
 19  LONGITUDE             27931 non-null  float64
 20  BID                   4658 non-null   object
 21  START_DATE            27931 non-null  object
 22  END_DATE              24850 non-null  object
 23  OBJECTID              27931 non-null  int64
 24  OCTO_RECORD_ID        0 non-null      float64
dtypes: float64(10), int64(3), object(12)
memory usage: 5.3+ MB

#### Warm-up: Ways to add 100 to column X

In [18]:
df.X + 100 #same as below
new_list = []
for x in df.X:
    new_list.append(x +100)
new_list

0        22.955818
1        22.976019
2        23.027349
3        23.027774
4        22.998247
           ...
27926    22.951183
27927    22.996471
27928    22.973471
27929    23.006236
27930    22.952276
Name: X, Length: 27931, dtype: float64

[22.955818168844402,
 22.9760189542681,
 23.027349355854895,
 23.0277743201099,
 22.9982473585021,
 23.006236356817496,
 23.018440538536595,
 22.9760271066923,
 22.921604926950494,
 22.972733319339696,
 23.018080918529293,
 23.006847596660407,
 22.9360797686288,
 22.929227576669007,
 23.0158936656873,
 23.0123848488129,
 22.967811624233704,
 22.992474627238394,
 23.012285667299494,
 22.977563907024603,
 22.971133043227994,
 22.999421281286004,
 22.914698108455994,
 22.968037953868404,
 22.975406449251295,
 22.974929944677996,
 22.982438885761695,
 23.022809626556594,
 23.011831603034494,
 22.975013579256895,
 23.086324741534398,
 23.0164506849316,
 23.007412242356196,
 23.021592374059693,
 23.005634855626894,
 23.048199601281894,
 23.020312053710597,
 22.9983260404194,
 23.005634373402003,
 22.922303067319802,
 22.933047110625296,
 23.050521441364197,
 23.023135088684697,
 22.975406449251295,
 22.924174477124893,
 23.018987758111805,
 22.9673823793825,
 22.980095927853796,
 22.921240843458094,
 22.9734829334122,
 23.047098315852693,
 22.982439355988106,
 22.914698108455994,
 23.011578331511103,
 22.918804733898995,
 22.968034417080602,
 23.0071153648731,
 22.9964807953681,
 23.025223396102106,
 23.005634592455607,
 22.9702794483687,
 23.025811921596002,
 22.966734961307694,
 23.0271599576011,
 23.036315196253895,
 22.966734368876203,
 22.974011374614605,
 22.9982473585021,
 22.944652515180906,
 22.970370642974203,
 23.026015084604495,
 22.917665677871994,
 22.932109010962805,
 22.916379679808202,
 22.9612820791033,
 23.0015423892969,
 23.064144081336295,
 23.0523448030133,
 23.0064134694217,
 23.0132168173902,
 22.9614071457935,
 23.006270167205003,
 22.954218600699903,
 23.0523448030133,
 23.0627600476396,
 22.994481689177306,
 22.987823407898503,
 22.997957238425897,
 22.933348213662597,
 22.987823407898503,
 23.028542853248197,
 23.065313801951106,
 22.9376465647222,
 22.978080185685798,
 22.961996143338197,
 23.0132168173902,
 22.987844005549107,
 22.966706860273504,
 23.0770444166086,
 22.967266605061198,
 22.9821493107156,
 22.968124698325994,
 23.026015084604495,
 22.966743138831404,
 23.029165026193198,
 22.988100104288506,
 22.9371403179897,
 22.971135311997898,
 22.947502817386706,
 23.074554775118898,
 23.005022829331295,
 23.068379880123302,
 22.934284978376496,
 23.048931705629897,
 22.9909563792192,
 22.982438885761695,
 22.974991600807698,
 22.933922860905597,
 22.974650818780006,
 22.956554862986096,
 22.977035009413697,
 23.000886317154695,
 22.914698108455994,
 22.9895086769682,
 22.978935880541002,
 23.002442015692907,
 22.992465177884796,
 22.965092209628196,
 22.959407899690305,
 22.970962677514805,
 22.9654313318822,
 22.9380321960803,
 22.970291230322303,
 22.977502715689198,
 23.017681699821395,
 22.997184784343006,
 23.0050110964159,
 23.018852709405294,
 22.977001652654394,
 23.047612518932695,
 23.010650654344502,
 22.988577753873102,
 22.992445414026406,
 22.973695082222207,
 22.973483850981793,
 22.968037953868404,
 23.003030796265705,
 23.0024415017826,
 23.027824601987305,
 22.9603274429806,
 22.9244568747758,
 22.923220092061797,
 22.9673823793825,
 23.021811645475296,
 23.0200587654259,
 22.990956003136205,
 23.0136259468551,
 23.065672727998702,
 23.050372034968703,
 22.943939322954094,
 22.975687415272702,
 23.006236356817496,
 23.023766869332206,
 22.966576004604207,
 22.9591862178182,
 23.002683793577503,
 23.011694444769105,
 23.022298874209596,
 22.9476543908561,
 22.990848168628304,
 22.979340584442795,
 22.968036403591995,
 23.070771138474996,
 23.000481921660594,
 22.9986835222675,
 22.9450427440417,
 22.995499902383003,
 22.999570785642305,
 23.047098315852693,
 23.074470700544097,
 23.024881592026205,
 23.017056739106394,
 22.966356412116596,
 22.971142446061606,
 23.009684136194807,
 22.900605442320696,
 23.0157456654443,
 22.981590708462605,
 22.978823844047895,
 22.9760271066923,
 22.990950899955706,
 22.968894554536305,
 23.002683793577503,
 23.0758444396253,
 23.049022102687502,
 22.989368688923904,
 22.995499902383003,
 22.978088155943993,
 23.049227711841695,
 22.941917163548496,
 22.973396359886195,
 22.967263556754503,
 22.926332241782802,
 23.016342805917205,
 22.997230163574898,
 23.021902204944794,
 22.966356412116596,
 22.932497237097195,
 22.971140357607894,
 23.001542582462704,
 22.971213302342804,
 23.039890049194497,
 23.0091046199758,
 23.031215267152206,
 22.9452379206964,
 22.978935880541002,
 22.986448750453903,
 23.052475302721803,
 22.9576286849789,
 22.965084373673704,
 22.968036403591995,
 22.926898784733098,
 22.989278597249495,
 22.975356089189205,
 23.047218862979705,
 22.964994821642605,
 22.987843821257997,
 22.9574507020437,
 23.005023081631506,
 22.981961291754303,
 22.951719366015098,
 22.9159239399049,
 23.026015084604495,
 22.976828285569297,
 23.078112319409698,
 22.924685126253294,
 22.962563578176898,
 22.992526617569894,
 22.914698108455994,
 22.976025126168693,
 23.022359987943304,
 22.967924277600403,
 23.018149457103902,
 22.959430515642694,
 22.982439355988106,
 23.007904929157903,
 22.970366967973902,
 23.062736099359398,
 23.024881592026205,
 22.974011374614605,
 22.987398550492998,
 23.040286958298097,
 22.962799635352894,
 22.931827511891697,
 23.069928958012497,
 22.930651558555695,
 22.947546055342002,
 23.002683793577503,
 22.990969655316505,
 22.974014820096002,
 22.9732958631443,
 23.049408065019904,
 23.019217756473907,
 22.969210096729498,
 23.032350514836807,
 23.007452116447297,
 22.957491381182905,
 23.0755311418649,
 23.0160247161092,
 22.955818168844402,
 23.008459638720396,
 23.005622114861097,
 22.980094425174002,
 23.033416794588504,
 23.008556585591407,
 22.939863358870696,
 22.972343891510107,
 23.0763369883622,
 23.010262895185406,
 23.053726679021196,
 22.9624003386689,
 23.027349355854895,
 22.9982901564059,
 22.961996143338197,
 23.014746848844197,
 22.9775539578486,
 23.0107189684571,
 22.993307217574397,
 23.017532095705306,
 22.970373539300695,
 22.971002997086302,
 23.032218707949,
 22.9565335554351,
 22.984177370669897,
 23.022387033041895,
 23.0703159536246,
 23.010716213710097,
 22.9769554115026,
 22.911979735116304,
 23.002683793577503,
 23.0160598148816,
 22.978942419322095,
 23.010050675132305,
 22.978082511121997,
 22.967614670269,
 23.022359987943304,
 23.017270942470304,
 23.014813507526497,
 23.0118373310017,
 22.9938629959006,
 22.990946342103797,
 23.056543931837098,
 23.062479928283693,
 22.974681655893505,
 23.0107189684571,
 23.003812766857806,
 22.9346471349086,
 23.018893822673107,
 23.0781067466788,
 23.054091794820295,
 22.955060654796895,
 23.006847596660407,
 23.028269289105495,
 23.081147003087693,
 23.0496601326342,
 22.968460236491495,
 22.971908617627804,
 22.919687640121595,
 23.0136032840647,
 22.992503628704597,
 23.032688827298998,
 22.992637122843604,
 22.978079424274995,
 23.034159814805705,
 22.961996143338197,
 23.030757196673207,
 23.041116904041104,
 22.974996188382093,
 22.993705397632894,
 22.973476545502706,
 22.952924481790504,
 23.000251137924295,
 22.983812869544394,
 23.009105016553704,
 23.0178671329311,
 23.005011217203602,
 22.991989735852798,
 23.003815041543504,
 23.0354286575828,
 23.0632906818893,
 23.003824765677294,
 22.955809860072193,
 22.98235352457,
 22.959908758999006,
 23.034385889127194,
 22.968430925617398,
 23.0152424063035,
 23.041116904041104,
 22.999951604449606,
 22.955083772083995,
 23.010262895185406,
 23.018047688122095,
 22.967266605061198,
 23.049656690181493,
 23.025552093440794,
 22.972343891510107,
 22.974011374614605,
 22.974609442383695,
 22.9574493798695,
 23.043836652515296,
 22.982428797034103,
 23.005023877367194,
 22.993609700970097,
 22.995846065411,
 22.971140791360497,
 23.016863958887697,
 23.0363683474002,
 22.996423418034396,
 23.021356343048694,
 22.965907260157806,
 23.018502074628003,
 22.9647959736741,
 23.0613954762038,
 23.050941169486705,
 22.9941063087373,
 23.045745543579997,
 22.966576004604207,
 22.957235293088104,
 22.969401172825897,
 22.972929752471103,
 22.9941063087373,
 23.0130822551604,
 22.8952576752191,
 22.9838221068282,
 22.977560812358007,
 22.975356089189205,
 22.965092209628196,
 23.0638779486801,
 22.971122033489095,
 22.946267262658594,
 23.013961143386894,
 22.921980818043707,
 22.991605519572502,
 23.010718355416998,
 22.995696759869006,
 22.931827511891697,
 22.976025126168693,
 22.971907687880005,
 22.939863358870696,
 22.949861495838903,
 22.924247030395307,
 22.957477882379607,
 22.972444970446404,
 22.980944550438807,
 22.956534720113396,
 22.985906683257596,
 22.9809334744062,
 22.991084970068798,
 22.968774426927297,
 23.010932355159497,
 22.955809313150596,
 22.973382171771405,
 23.033558195908896,
 22.980096739949303,
 23.010262895185406,
 22.966568365904905,
 23.0260739866891,
 23.0225015880864,
 23.0205897939466,
 22.967188376783596,
 22.9974382539519,
 22.984418278518902,
 23.0276536866904,
 22.972925272857296,
 22.9848131432813,
 23.0225015880864,
 22.9822050018296,
 22.930916435828806,
 22.951193227678104,
 23.026010528146102,
 23.013078258998902,
 23.027218111238398,
 23.014386779612906,
 22.975083675971604,
 22.9941063087373,
 22.942433195856097,
 22.962818028639404,
 23.008131988413396,
 23.075528713022905,
 22.9986721074453,
 23.029280567727497,
 23.010650654344502,
 23.071984142587098,
 22.978071356752693,
 23.004459442399707,
 22.990944690924593,
 23.034159814805705,
 22.982439355988106,
 22.998689868999406,
 22.938789369405796,
 23.013905806857096,
 22.9680447328426,
 23.0770444166086,
 22.977458025011003,
 23.048029870093103,
 22.9982901564059,
 23.061505186366105,
 23.004424378413802,
 23.064327901389305,
 23.026015084604495,
 22.995171793604996,
 23.021902204944794,
 23.056043070577104,
 23.020981770340697,
 22.9600002616054,
 23.006788062978302,
 22.983811959766996,
 22.9360797686288,
 23.011388374949803,
 22.953690478781,
 23.034626887331896,
 22.9603274429806,
 22.914698108455994,
 22.975194404837097,
 23.0527882663891,
 23.025163278344806,
 22.926483195322803,
 22.9498721757584,
 22.995499902383003,
 22.970307691237295,
 23.0527882663891,
 23.028471555962298,
 23.029280567727497,
 22.983821303711807,
 23.004996760320495,
 23.018173220804997,
 23.010718355416998,
 22.9586310307987,
 22.977759869795193,
 23.0130822551604,
 22.9610199654292,
 22.998683477641904,
 22.9848131432813,
 22.975120957251505,
 23.0050110964159,
 23.008163384864204,
 23.016873771686505,
 23.019223550270894,
 22.999940058152205,
 22.967267150966606,
 22.985311565006498,
 23.004424556005503,
 22.9727881521208,
 22.972343891510107,
 23.0471786165527,
 22.9734829334122,
 22.998325995333502,
 22.967406160157395,
 23.014486871584893,
 22.930758985696997,
 22.958316668544796,
 22.953368980262695,
 22.972954144322102,
 23.026931964161506,
 23.019828257384702,
 22.936481996511404,
 22.968047363031005,
 22.977035009413697,
 23.019972515850597,
 23.022830356164306,
 23.0621378311736,
 22.9346471349086,
 22.920053111988096,
 22.973382171771405,
 23.052220807882506,
 23.009296228863704,
 23.040934905234394,
 23.069827389609003,
 22.9692008659204,
 23.003825244578195,
 23.029163200652604,
 22.966569033627806,
 22.981701822589798,
 22.994112377654105,
 22.9941063087373,
 22.989399373264106,
 23.001012250522905,
 23.017982258268603,
 22.9923159835199,
 23.018628118289698,
 22.9149979437059,
 23.015394534412707,
 23.024794505025994,
 22.992353251393496,
 23.014373654420098,
 22.959898581621303,
 22.9397794856137,
 23.0523448030133,
 23.010388936448905,
 23.0044431924742,
 23.027832562104805,
 22.924127646046102,
 23.060723592478794,
 22.9835869821635,
 22.962932993810995,
 23.0200587654259,
 22.914698108455994,
 23.016000878771806,
 23.023886602483202,
 22.984807754509305,
 22.9790848296863,
 22.9982901564059,
 22.980571685763195,
 22.914698108455994,
 23.015353362551295,
 23.023095516733406,
 23.006422068899198,
 22.973482551630994,
 23.0230076697855,
 23.014386779612906,
 22.9691991805352,
 22.886355292265506,
 22.971135764133194,
 23.066763186757896,
 23.026015084604495,
 23.019664955875697,
 22.9371403179897,
 22.995499902383003,
 22.941116397754598,
 22.996306583431206,
 23.0277215147499,
 23.070839531123895,
 22.976016903678797,
 22.993721448509802,
 23.013081617592405,
 22.971908617627804,
 23.012660422782304,
 23.005023877367194,
 22.988814887341107,
 22.966637052954496,
 22.994131875875198,
 22.933744165788497,
 22.982796557522406,
 22.989828987491805,
 23.075662112702602,
 23.0033611114295,
 23.003812654277198,
 22.967254099637103,
 22.965422383227306,
 23.010718599000697,
 22.987833130861105,
 22.965297964264295,
 22.984317250693294,
 23.0385393633306,
 22.959928488169993,
 22.930651558555695,
 22.972708933265395,
 22.9983260404194,
 22.9284333572719,
 23.0205542777921,
 22.981621353417594,
 23.010229371385293,
 22.991486717298002,
 22.907377190523107,
 23.043924396333594,
 22.978241917702704,
 23.023332331046603,
 22.966734961307694,
 23.060790841960596,
 22.965874326476793,
 23.011760897572103,
 23.029163200652604,
 22.977038861422002,
 22.953973693647697,
 23.017950030523394,
 22.979578096391606,
 22.9984631752222,
 22.973382171771405,
 22.997957238425897,
 23.024566086272998,
 23.039715647468995,
 22.955926201233794,
 23.021459086076604,
 23.0316551245632,
 23.049656690181493,
 22.978077724061507,
 23.0411372322922,
 23.0132168173902,
 22.961509192369206,
 23.069192257722406,
 22.997218527680204,
 22.981447377803406,
 23.074302815688398,
 23.006828496193094,
 22.966562401931498,
 22.9417593698723,
 22.990944690924593,
 22.9933248304077,
 22.9893203880588,
 22.996412021804403,
 22.983822948686395,
 22.993237773908902,
 22.978077724061507,
 22.990941360378898,
 22.992503628704597,
 23.020064443647996,
 23.000701216474297,
 22.967270814808998,
 23.002485481664493,
 22.977570191751795,
 23.057095363163,
 22.9806643355992,
 22.9820236487071,
 23.007808932997193,
 22.943082351758406,
 23.025825522464103,
 22.994465790412406,
 22.9702794483687,
 22.966356412116596,
 22.985556280130098,
 23.017058649363605,
 22.9749924283292,
 22.9760279393835,
 22.997956769379698,
 22.962465633495995,
 23.022740945722305,
 22.977458025011003,
 22.920599288047697,
 22.967267150966606,
 22.9830740106987,
 22.972364848257698,
 22.948580487232704,
 22.9742275419823,
 22.971135311997898,
 22.958337465776097,
 22.9440873633457,
 22.914698108455994,
 22.933982867409497,
 23.0363683474002,
 23.009140342113497,
 22.982425496462795,
 22.971497452464504,
 22.972960645220894,
 23.005634592455607,
 22.997945943468906,
 22.963451730870702,
 22.9680447328426,
 22.9148288145537,
 22.975560222315494,
 23.014486703322504,
 22.968177772913805,
 22.977053265480805,
 23.011978902987394,
 22.9925153254311,
 22.997218901058503,
 22.961499665569093,
 22.986077089085995,
 22.969144644264503,
 23.001806229741504,
 23.007957211156807,
 22.968639514636607,
 23.034306082369298,
 23.006847596660407,
 22.954218600699903,
 23.009189561464595,
 23.0147099381023,
 22.9848131432813,
 23.0218628996558,
 23.0044242449501,
 22.9800871541905,
 23.017069888213598,
 22.972950707673505,
 22.984812794133603,
 22.959790536122995,
 22.947636550219002,
 23.008431327374296,
 22.980944550438807,
 22.967269908975894,
 23.018051487251995,
 23.006847596660407,
 23.028269289105495,
 23.005011217203602,
 22.975406449251295,
 22.914698108455994,
 22.917924470105604,
 22.966734961307694,
 22.969210096729498,
 22.936747629053798,
 22.956390738548606,
 22.967204255268697,
 23.0205542777921,
 23.018327330307102,
 23.004006653187503,
 22.9634509276879,
 23.029844584105305,
 22.962461206063196,
 22.959692748333396,
 22.941349480762696,
 22.96726420617,
 23.0714087402976,
 22.978071356752693,
 22.991739821149693,
 23.0079179819473,
 23.001554152281997,
 23.0770444166086,
 22.959375948161707,
 23.0130822551604,
 22.943545594783103,
 23.075416586007606,
 22.955850458837403,
 23.014949227805104,
 23.034662946570805,
 22.971131417150005,
 23.005635019943597,
 23.010550105103206,
 22.9775568639202,
 23.002683745150406,
 23.051357095291294,
 22.914698108455994,
 22.990928663073802,
 23.026015084604495,
 22.944500410117698,
 22.991250735947105,
 23.010213728649404,
 23.041116904041104,
 22.956061537299405,
 23.004411947401707,
 23.029577234996196,
 22.967406160157395,
 22.997219965795296,
 22.9790748207226,
 23.007340983594503,
 23.008468976319605,
 22.994399691817307,
 23.012714445239098,
 22.976025126168693,
 23.002660242324296,
 23.041116904041104,
 22.989345182761298,
 23.0152424063035,
 22.980096264768406,
 23.026901687543898,
 22.968639514636607,
 22.932971718544906,
 22.930927017704704,
 22.981238577150506,
 22.9756180514522,
 23.0513982438723,
 22.919427886582298,
 23.049022102687502,
 22.966744172234897,
 23.009738786283094,
 23.0182569074003,
 22.9917809303938,
 22.977038861422002,
 22.9694340496778,
 22.974609442383695,
 22.9982901564059,
 22.989321324318794,
 23.0770444166086,
 22.967267150966606,
 22.950536731969507,
 23.015324052350906,
 23.035953596839093,
 22.9614071457935,
 22.998509461424803,
 23.012303788145303,
 23.011564597379603,
 22.997184784343006,
 22.9720293264712,
 22.941915489367005,
 22.999421891984795,
 23.0107283659719,
 23.087707935419303,
 23.047098315852693,
 22.953527376181498,
 23.0730125888945,
 23.021861445141397,
 23.014707434127203,
 22.999455570819507,
 22.978071356752693,
 22.992664749766504,
 22.952144684004693,
 23.022387033041895,
 22.971002997086302,
 22.922026905763104,
 22.971229781587695,
 22.997020986243896,
 22.957630280072905,
 22.9280356101101,
 23.0432101321785,
 22.9557611459595,
 23.0097499018066,
 22.9740009095555,
 23.0286701189344,
 23.010925099919305,
 22.963539782298895,
 22.9684326374323,
 22.997957238425897,
 22.966743483306402,
 22.960068929783404,
 23.063687345777197,
 22.952246793233797,
 23.043924396333594,
 23.035411345399893,
 23.0770444166086,
 23.0406829520674,
 22.980568195750493,
 23.038538944900594,
 22.990905310470495,
 23.064641445411098,
 22.975884200641403,
 22.967267150966606,
 22.960547161010396,
 22.958180487765304,
 23.034159814805705,
 23.018852709405294,
 23.067275134679903,
 22.9680360725239,
 22.963508219772294,
 22.978082511121997,
 23.034662946570805,
 22.9711411303345,
 22.9607525568898,
 23.068730287833702,
 23.006236356817496,
 23.059720369446794,
 22.973382171771405,
 22.9891295305913,
 22.952276062708705,
 23.054017827488593,
 22.966356412116596,
 22.960950153836194,
 23.034662946570805,
 22.927321203764905,
 22.974011374614605,
 23.017691967927206,
 22.958326798421098,
 23.0050375087296,
 22.991107475352905,
 22.985328421901798,
 22.991605519572502,
 22.9893894603465,
 23.062888875860907,
 22.971133043227994,
 22.978988883934406,
 22.937164114511702,
 22.942593119258007,
 23.073315788215396,
 23.0230076697855,
 22.997575305298497,
 22.970368472513996,
 22.914698108455994,
 23.000528069806194,
 23.038255156492994,
 22.9103693873696,
 22.966706860273504,
 22.970292023861802,
 22.975120957251505,
 22.975428496629306,
 22.976828285569297,
 22.971909188930795,
 22.984318815523395,
 23.021861831520994,
 22.952222366599898,
 23.062499762825,
 23.0523448030133,
 22.960075192013903,
 22.9361578094193,
 23.022729869064506,
 22.982428797034103,
 23.0527882663891,
 23.024881592026205,
 23.0132168173902,
 22.974998434144894,
 22.9680896362687,
 22.966637052954496,
 23.0200572127726,
 23.021446240148904,
 22.960146771257598,
 22.948191422498695,
 22.956177763237903,
 23.031837143018606,
 22.976537900367305,
 23.066099513630107,
 22.9760279393835,
 22.981175919564393,
 22.9101433970947,
 23.034159814805705,
 23.019723766606404,
 23.012425340714003,
 23.005532525115797,
 23.013913536635698,
 22.999951607368104,
 23.009103407466,
 22.9565335554351,
 22.969193802146407,
 22.982439355988106,
 23.026510758789,
 22.957044453854095,
 22.9725690120017,
 23.014485015428207,
 22.9679006540553,
 23.025741970329193,
 22.9343268368376,
 22.937164114511702,
 22.9982473585021,
 23.003006901470002,
 23.023886602483202,
 22.941982985171606,
 22.9729591150752,
 22.9952757226646,
 22.973382171771405,
 23.0523448030133,

## 1. Aggregation

### Example of grouping by one variable and doing one aggregation 

**Task**: find and print the number of unique offense types (`OFFENSE`) by ward (`WARD`)

In [20]:

ward_by_offense = df.groupby("WARD").agg({"OFFENSE":"unique"}).reset_index()
ward_by_offense.OFFENSE.apply(len)

print(ward_by_offense)

0    9
1    9
2    8
3    8
4    9
5    9
6    9
7    9
Name: OFFENSE, dtype: int64

   WARD                                            OFFENSE
0     1  [THEFT/OTHER, ASSAULT W/DANGEROUS WEAPON, ROBB...
1     2  [HOMICIDE, THEFT F/AUTO, THEFT/OTHER, MOTOR VE...
2     3  [THEFT F/AUTO, THEFT/OTHER, MOTOR VEHICLE THEF...
3     4  [THEFT F/AUTO, THEFT/OTHER, HOMICIDE, MOTOR VE...
4     5  [THEFT/OTHER, THEFT F/AUTO, MOTOR VEHICLE THEF...
5     6  [ROBBERY, THEFT/OTHER, THEFT F/AUTO, MOTOR VEH...
6     7  [THEFT F/AUTO, ROBBERY, ASSAULT W/DANGEROUS WE...
7     8  [HOMICIDE, THEFT/OTHER, THEFT F/AUTO, MOTOR VE...

### Example of grouping by one variable and providing two summaries of the same variable

**Task**: previous showed number of offenses by ward but want to find out content of offenses in each ward; create an aggregation that summarizes both the number of unique offenses by ward and what those offenses are -- for instance, by pasting the unique offenses in that ward separated by the ";" (e.g., Theft; Burglary;...)

*Hint*: you can use the join command to paste together a list separated by some delimiter. 
    - The syntax, if we are using the comma delimiter, is: ", ".join(nameoflist)

In [22]:
ward_by_offense = df.groupby("WARD").agg({"OFFENSE":"unique"}).reset_index()
ward_by_offense["Offense_List"] = ward_by_offense.OFFENSE.apply(lambda offenses: ",".join(offenses))
ward_by_offense["Offense_Count"]= ward_by_offense.OFFENSE.apply(len)

print(ward_by_offense[["WARD", "Offense_List", "Offense_Count"]])

   WARD                                       Offense_List  Offense_Count
0     1  THEFT/OTHER,ASSAULT W/DANGEROUS WEAPON,ROBBERY...              9
1     2  HOMICIDE,THEFT F/AUTO,THEFT/OTHER,MOTOR VEHICL...              9
2     3  THEFT F/AUTO,THEFT/OTHER,MOTOR VEHICLE THEFT,R...              8
3     4  THEFT F/AUTO,THEFT/OTHER,HOMICIDE,MOTOR VEHICL...              8
4     5  THEFT/OTHER,THEFT F/AUTO,MOTOR VEHICLE THEFT,A...              9
5     6  ROBBERY,THEFT/OTHER,THEFT F/AUTO,MOTOR VEHICLE...              9
6     7  THEFT F/AUTO,ROBBERY,ASSAULT W/DANGEROUS WEAPO...              9
7     8  HOMICIDE,THEFT/OTHER,THEFT F/AUTO,MOTOR VEHICL...              9

### Example of grouping by two variables 

**Task**: group by ward (`WARD`) and police shift (`SHIFT`) and find the offense that is most common in that ward and shift

In [24]:
offense_by_wardshift = df.groupby(["WARD", "SHIFT"]).agg({"OFFENSE": "max"})
print(offense_by_wardshift)

                   OFFENSE
WARD SHIFT
1    DAY       THEFT/OTHER
     EVENING   THEFT/OTHER
     MIDNIGHT  THEFT/OTHER
2    DAY       THEFT/OTHER
     EVENING   THEFT/OTHER
     MIDNIGHT  THEFT/OTHER
3    DAY       THEFT/OTHER
     EVENING   THEFT/OTHER
     MIDNIGHT  THEFT/OTHER
4    DAY       THEFT/OTHER
     EVENING   THEFT/OTHER
     MIDNIGHT  THEFT/OTHER
5    DAY       THEFT/OTHER
     EVENING   THEFT/OTHER
     MIDNIGHT  THEFT/OTHER
6    DAY       THEFT/OTHER
     EVENING   THEFT/OTHER
     MIDNIGHT  THEFT/OTHER
7    DAY       THEFT/OTHER
     EVENING   THEFT/OTHER
     MIDNIGHT  THEFT/OTHER
8    DAY       THEFT/OTHER
     EVENING   THEFT/OTHER
     MIDNIGHT  THEFT/OTHER

## Summarizing over all rows or all columns (without grouping)

We can also use the `apply` function to summarize rows or columns efficiently

**Task**: find the mean lat and longitude in one line of code

In [26]:
df[["X", "Y"]].apply(np.mean, axis = 0)

X   -77.007049
Y    38.907618
dtype: float64

## 2. Creating new columns/transforming their type

### Simple filtering

`np.where` is in the numpy package (aliased as `np`) and operates similar to `ifelse` in R

But there is a built in pandas way to emulate this.

**Task**: create an indicator `is_theft` for any offense that contains the word "THEFT"
    
**Task**: create an indicator `is_theft_notmotor` for any offense that contains the word "THEFT" but does not contain the word "MOTOR"

In [74]:
~df["OFFENSE"].str.contains("MOTOR")

0         True
1         True
2         True
3         True
4         True
         ...
27926     True
27927     True
27928     True
27929    False
27930     True
Name: OFFENSE, Length: 27931, dtype: bool

In [172]:
df["is_theft"] = df["OFFENSE"].str.contains("THEFT")
print(df.is_theft)
df["is_theft_notmotor"] = df["OFFENSE"].str.contains("THEFT") & ~df["OFFENSE"].str.contains("MOTOR")
print(df.is_theft_notmotor)
#np.where

0        False
1         True
2        False
3        False
4        False
         ...
27926     True
27927     True
27928     True
27929     True
27930     True
Name: is_theft, Length: 27931, dtype: bool
0        False
1         True
2        False
3        False
4        False
         ...
27926     True
27927     True
27928     True
27929    False
27930     True
Name: is_theft_notmotor, Length: 27931, dtype: bool

### np.select

**Task**: create a new variable, `offense_summary`, where you:
        
- Recode theft offenses that use a gun or knife as the method (`METHOD`) as: violent theft
- Recode non-theft offenses that use a gun or knife as the method as: violent other
- Recode all other as non-violent

In [128]:
offense_type = ["violent theft", "violent other"]
methods = [df["OFFENSE"].str.contains("THEFT") & df["METHOD"].str.contains("GUN|KNIFE"), 
           (df["OFFENSE"].str.contains("THEFT") == False) & df["METHOD"].str.contains("GUN|KNIFE")
]
df.offense_summary = np.select(methods, offense_type, default = "non_violent")

print(df.offense_summary)

['non_violent' 'non_violent' 'violent other' ... 'non_violent'
 'non_violent' 'non_violent']

### map.recode

**Task**: recode shifts that are MIDNIGHT or EVENING as "nighttime"; code other shift to daytime

In [162]:
shift = ["MIDNIGHT", "EVENING", "DAY"]
time = ["nighttime", "nighttime", "daytime"
]
conversion_dict = dict(zip(shift, time))
df["time"] = df["SHIFT"].map(conversion_dict)
print(df)

               X          Y       CCN              REPORT_DAT     SHIFT  \
0     -77.044182  38.905654  11139598  2020/08/24 04:00:00+00  MIDNIGHT
1     -77.023981  38.900345      5370  2020/01/17 02:39:05+00   EVENING
2     -76.972651  38.857491  10251445  2020/09/11 04:00:00+00  MIDNIGHT
3     -76.972226  38.854086  10147537  2020/12/21 05:00:00+00  MIDNIGHT
4     -77.001753  38.821632  18048023  2020/10/21 04:00:00+00  MIDNIGHT
...          ...        ...       ...                     ...       ...
27926 -77.048817  38.906841  20148477  2020/10/17 08:40:42+00  MIDNIGHT
27927 -77.003529  38.884673  20148604  2020/10/17 16:40:41+00       DAY
27928 -77.026529  38.900371  20149110  2020/10/18 18:27:42+00       DAY
27929 -76.993764  38.921589  20149864  2020/10/20 00:55:36+00   EVENING
27930 -77.047724  38.909643  20150225  2020/10/21 00:33:40+00   EVENING

       METHOD              OFFENSE                                      BLOCK  \
0      OTHERS             HOMICIDE           1900 - 1999 BLOCK OF M STREET NW
1      OTHERS         THEFT F/AUTO           800 - 899 BLOCK OF 9TH STREET NW
2         GUN             HOMICIDE       2300 - 2399 BLOCK OF AINGER PLACE SE
3      OTHERS             HOMICIDE    2300 - 2499 BLOCK OF HARTFORD STREET SE
4      OTHERS             HOMICIDE  4600 - 4799 BLOCK OF SOUTH CAPITOL STREET
...       ...                  ...                                        ...
27926  OTHERS         THEFT F/AUTO        1250 - 1299 BLOCK OF 22ND STREET NW
27927  OTHERS         THEFT F/AUTO           400 - 431 BLOCK OF 2ND STREET SE
27928  OTHERS          THEFT/OTHER       1000 - 1099 BLOCK OF PALMER ALLEY NW
27929  OTHERS  MOTOR VEHICLE THEFT   2300 - 2499 BLOCK OF WASHINGTON PLACE NE
27930  OTHERS         THEFT F/AUTO           2100 - 2199 BLOCK OF P STREET NW

         XBLOCK    YBLOCK  ...  LONGITUDE              BID  \
0      396168.0  137533.0  ... -77.044180  GOLDEN TRIANGLE
1      397920.0  136943.0  ... -77.023979         DOWNTOWN
2      402374.0  132186.0  ... -76.972648              NaN
3      402411.0  131808.0  ... -76.972223              NaN
4      399848.0  128205.0  ... -77.001750              NaN
...         ...       ...  ...        ...              ...
27926  395766.0  137665.0  ... -77.048815              NaN
27927  399694.0  135203.0  ... -77.003527     CAPITOL HILL
27928  397699.0  136946.0  ... -77.026527         DOWNTOWN
27929  400541.0  139301.0  ... -76.993761              NaN
27930  395861.0  137976.0  ... -77.047722    DUPONT CIRCLE

                   START_DATE                END_DATE   OBJECTID  \
0      2011/09/23 06:40:00+00                     NaN  594430168
1      2020/01/11 02:48:51+00  2020/01/17 02:48:54+00  594430173
2      2010/09/02 04:00:00+00  2010/09/02 04:00:00+00  594430178
3      2010/10/10 02:00:00+00                     NaN  594431372
4      2018/03/26 08:40:06+00  2018/03/26 10:04:44+00  594431711
...                       ...                     ...        ...
27926  2020/10/17 07:20:23+00  2020/10/17 07:45:02+00  594981003
27927  2020/10/16 23:00:10+00  2020/10/16 23:05:17+00  594981004
27928  2020/10/18 16:30:23+00  2020/10/18 16:33:34+00  594981005
27929  2020/10/20 00:23:09+00  2020/10/20 00:24:57+00  594981006
27930  2020/10/16 21:00:03+00  2020/10/17 11:08:52+00  594981007

      OCTO_RECORD_ID  is_theft is_theft_notmotor                time
0                NaN     False             False      NaN  nighttime
1                NaN      True              True      NaN  nighttime
2                NaN     False             False      NaN  nighttime
3                NaN     False             False      NaN  nighttime
4                NaN     False             False      NaN  nighttime
...              ...       ...               ...      ...        ...
27926            NaN      True              True      NaN  nighttime
27927            NaN      True              True  daytime    daytime
27928            NaN      True              True  daytime    daytime
27929            NaN      True             False      NaN  nighttime
27930            NaN      True              True      NaN  nighttime

[27931 rows x 29 columns]

### Using built-in pandas methods

Another way of creating variables, used either alone or in combination with np.where and np.select is to use pandas built in `str` methods

Basic structure is: `df['namestringcol'].str.someoperation`

**Task**: using a `str` method, create a new variable--`OFFENSE_NOSP`--that replaces spaces in the `OFFENSE` column with underscores

In [166]:
df["OFFENSE_NOSP"] = df['OFFENSE'].str.replace(" ", "_")
print(df.OFFENSE_NOSP)

0                   HOMICIDE
1               THEFT_F/AUTO
2                   HOMICIDE
3                   HOMICIDE
4                   HOMICIDE
                ...
27926           THEFT_F/AUTO
27927           THEFT_F/AUTO
27928            THEFT/OTHER
27929    MOTOR_VEHICLE_THEFT
27930           THEFT_F/AUTO
Name: OFFENSE_NOSP, Length: 27931, dtype: object

### Transforming column types

**Task**: check the type of the `START_DATE` column

In [206]:
df.START_DATE.dtype

dtype('O')

**Task**: recast the `START_DATE` column to datetime, calling this `START_DATE_CLEAN`; coerce errors rather than cleaning the string; check the type of that new col

In [208]:
df.START_DATE_CLEAN = pd.to_datetime(df.START_DATE)

**Task:** print the min and max of `START_DATE_CLEAN`. What happens if you try to do this with `START_DATE`?

In [212]:
print(df.START_DATE_CLEAN.min())
print(df.START_DATE_CLEAN.max())

print(df.START_DATE.min())
print(df.START_DATE.max())

1940-02-17 00:00:16+00:00
2021-01-01 02:30:21+00:00
1940/02/17 00:00:16+00
2021/01/01 02:30:21+00

## 3. Row and column filtering

### Row subsetting

**Task**: filter to crime reports about theft using the `is_theft` definition and that are in ward 3

In [252]:
df[df.is_theft & (df["WARD"] == 3)]

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,is_theft,is_theft_notmotor,,time,OFFENSE_NOSP,START_DATE_CLEAN
8,-77.078395,38.932427,20001484,2020/01/03 15:28:51+00,DAY,OTHERS,THEFT F/AUTO,3900 - 4099 BLOCK OF MASSACHUSETTS AVENUE NW,393203.00,140507.00,...,2020/01/02 23:33:38+00,2020/01/03 14:20:15+00,594453346,NaN,True,True,daytime,daytime,THEFT_F/AUTO,2020-01-02 23:33:38+00:00
12,-77.063920,38.944876,20002785,2020/01/05 20:01:58+00,EVENING,OTHERS,THEFT/OTHER,4200 - 4399 BLOCK OF CONNECTICUT AVENUE NW,394459.00,141888.00,...,2020/01/05 19:40:52+00,2020/01/05 19:42:06+00,594453350,NaN,True,True,NaN,nighttime,THEFT/OTHER,2020-01-05 19:40:52+00:00
13,-77.070772,38.956628,20003356,2020/01/07 01:11:27+00,EVENING,OTHERS,THEFT/OTHER,5100 - 5199 BLOCK OF CONNECTICUT AVENUE NW,393866.00,143193.00,...,2020/01/06 20:28:26+00,2020/01/06 21:21:36+00,594453351,NaN,True,True,NaN,nighttime,THEFT/OTHER,2020-01-06 20:28:26+00:00
22,-77.085302,38.959915,20031068,2020/02/20 22:19:38+00,EVENING,OTHERS,THEFT/OTHER,5300 - 5399 BLOCK OF WISCONSIN AVENUE NW,392607.00,143559.00,...,2020/02/20 21:05:43+00,2020/02/20 22:20:01+00,594453360,NaN,True,True,NaN,nighttime,THEFT/OTHER,2020-02-20 21:05:43+00:00
39,-77.077697,38.937382,20111761,2020/08/05 18:08:56+00,DAY,OTHERS,THEFT F/AUTO,3600 - 3699 BLOCK OF 39TH STREET NW,393264.00,141057.00,...,2020/08/05 17:21:04+00,NaN,594453445,NaN,True,True,daytime,daytime,THEFT_F/AUTO,2020-08-05 17:21:04+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27801,-77.070891,38.936810,20050233,2020/03/25 10:24:37+00,MIDNIGHT,OTHERS,THEFT/OTHER,3500 - 3599 BLOCK OF 36TH STREET NW,393854.00,140993.00,...,2020/03/24 15:56:42+00,2020/03/24 16:00:06+00,594980534,NaN,True,True,NaN,nighttime,THEFT/OTHER,2020-03-24 15:56:42+00:00
27828,-77.058884,38.936195,20025378,2020/02/11 15:28:00+00,DAY,OTHERS,THEFT/OTHER,3500 - 3599 BLOCK OF CONNECTICUT AVENUE NW,394895.00,140924.00,...,2020/02/10 20:30:07+00,2020/02/11 02:30:26+00,594980726,NaN,True,True,daytime,daytime,THEFT/OTHER,2020-02-10 20:30:07+00:00
27907,-77.057640,38.924692,20153221,2020/10/26 13:15:04+00,DAY,OTHERS,THEFT/OTHER,2700 - 2799 BLOCK OF 29TH STREET NW,395002.00,139647.00,...,2020/10/24 17:00:36+00,2020/10/25 16:00:46+00,594980943,NaN,True,True,daytime,daytime,THEFT/OTHER,2020-10-24 17:00:36+00:00
27909,-77.063920,38.944876,20113247,2020/08/08 20:33:10+00,EVENING,OTHERS,THEFT/OTHER,4200 - 4399 BLOCK OF CONNECTICUT AVENUE NW,394459.00,141888.00,...,2020/08/07 17:06:06+00,2020/08/07 17:16:08+00,594980968,NaN,True,True,NaN,nighttime,THEFT/OTHER,2020-08-07 17:06:06+00:00
27914,-77.058083,38.934832,20117502,2020/08/17 15:41:41+00,DAY,OTHERS,THEFT/OTHER,3319 - 3499 BLOCK OF CONNECTICUT AVENUE NW,394964.33,140772.69,...,2020/08/17 15:16:33+00,2020/08/17 15:20:54+00,594980973,NaN,True,True,daytime,daytime,THEFT/OTHER,2020-08-17 15:16:33+00:00

### Column subsetting

**Task**: select two columns--`START_DATE` and `END_DATE`--and print the head of the dataframe

In [256]:
df[["START_DATE", "END_DATE"]].head()

               START_DATE                END_DATE
0  2011/09/23 06:40:00+00                     NaN
1  2020/01/11 02:48:51+00  2020/01/17 02:48:54+00
2  2010/09/02 04:00:00+00  2010/09/02 04:00:00+00
3  2010/10/10 02:00:00+00                     NaN
4  2018/03/26 08:40:06+00  2018/03/26 10:04:44+00

**Task**: use list comprehension to automate this a bit and select all columns with the word "DATE" in the name; print the head of the dataframe

In [260]:
df[[c for c in df.columns if "DATE" in c]]

,START_DATE,END_DATE,START_DATE_CLEAN
0,2011/09/23 06:40:00+00,NaN,2011-09-23 06:40:00+00:00
1,2020/01/11 02:48:51+00,2020/01/17 02:48:54+00,2020-01-11 02:48:51+00:00
2,2010/09/02 04:00:00+00,2010/09/02 04:00:00+00,2010-09-02 04:00:00+00:00
3,2010/10/10 02:00:00+00,NaN,2010-10-10 02:00:00+00:00
4,2018/03/26 08:40:06+00,2018/03/26 10:04:44+00,2018-03-26 08:40:06+00:00
...,...,...,...
27926,2020/10/17 07:20:23+00,2020/10/17 07:45:02+00,2020-10-17 07:20:23+00:00
27927,2020/10/16 23:00:10+00,2020/10/16 23:05:17+00,2020-10-16 23:00:10+00:00
27928,2020/10/18 16:30:23+00,2020/10/18 16:33:34+00,2020-10-18 16:30:23+00:00
27929,2020/10/20 00:23:09+00,2020/10/20 00:24:57+00,2020-10-20 00:23:09+00:00
27930,2020/10/16 21:00:03+00,2020/10/17 11:08:52+00,2020-10-16 21:00:03+00:00

**Task**: filter reports of crime in `START_DATE_CLEAN` before May 2020 and that are located in ward 1; select the ward and `START_DATE` column and print a random sample of rows

In [272]:
df[(df.START_DATE_CLEAN , "05-01-2020") & (df.WARD == 1)][["WARD", "START_DATE"]]

/var/folders/tj/gn0fs7tx6ml_jnjbzkw10wpr0000gn/T/ipykernel_66300/501019409.py:1: FutureWarning: Logical ops (and, or, xor) between Pandas objects and dtype-less sequences (e.g. list, tuple) are deprecated and will raise in a future version. Wrap the object in a Series, Index, or np.array before operating instead.
  df[(df.START_DATE_CLEAN , "05-01-2020") & (df.WARD == 1)][["WARD", "START_DATE"]]

ValueError: setting an array element with a sequence.